body {
    font-family: "Lexend", serif;
    line-height: normal;
  }
  
  .main_header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 4vh 8vh;
    background-color: #a3b18a4f;
  }
  
  .main_header h1 {
    font-family: "Inter", sans-serif;
    color: #588157;
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
  }
  
  .main_header h1 span {
    font-weight: 900;
  }
  
  .main_navbar ul {
    display: flex;
    gap: 66px;
    font-size: 24px;
    font-weight: 600;
  }

  .main_navbar ul li {
    transition: all 0.3s ease;
  }
  
  .main_navbar ul li a {
    text-decoration: none;
    color: #2A332B;
    transition: all 0.3s ease;
  }

  .main_navbar ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.05);
  }
  @media screen and (max-width:450px) {
    
    .main_header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vh 4vh;
      justify-content: center;
    }
    .main_header h1 {
      font-size: 30px;
    }
    
    .main_navbar ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      margin: 1vh;
      gap: 14px;
      font-size: 16px;
      
    }
    
  }