.home_tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.home_tab h1 {
    color: white;
    background-color: #a3b18ac9;
    padding: 10vh;
    border-radius: 1rem;
    font-size: 32px;
    font-weight: 900;
}